<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos de la Carrera</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <nav th:replace="~{/layouts/header :: header}"></nav>
    <main class="container bg-fondo p-0 d-flex flex-column">
        <div class="bg-primario color-white">
            <h2 class="text-center py-3 px-3" th:text="'Alumnos de la Carrera: ' + ${carrera.nombre}"></h2>
        </div>
        <div class="pt-3 pb-5 px-3">
            <div th:if="${carrera.alumnos.isEmpty()}">
                <p>No hay alumnos inscritos en esta carrera.</p>
            </div>
            <div th:if="${!carrera.alumnos.isEmpty()}">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="alumno : ${carrera.alumnos}">
                            <td th:text="${alumno.dni}"></td>
                            <td th:text="${alumno.nombre}"></td>
                            <td th:text="${alumno.apellido}"></td>
                            <td th:text="${alumno.email}"></td>
                            <td th:text="${alumno.telefono}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="btn btn-primary" th:href="@{/carreras/lista}">Volver</a>
        </div>
    </main>
    <footer th:replace="~{/layouts/footer :: footer}"></footer>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>

