* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-primario: #2081A4;
	--color-secundario: #fafafa;
	--color-fondo: #dfdfdf;
	--color-footer: #20232E;
}

.navbar {
	background-color: var(--color-secundario);
}

.img-logo {
	height: 50px;
	width: 100%;
}

.img-header {
	max-width: 250px;
	height: 100px;
}

.p-facultad {
	color: #000;
	font-size: 28px;
	font-family: 'Times New Roman', serif;
	font-weight: bold;
	text-wrap: pretty;
}

.p-lema {
	color: var(--color-primario);
	font-size: 18px;
	font-weight: bold;
	text-wrap: pretty;
}

.navbar-nav {
	width: 100%;
	justify-content: center;
}

.header {
	background-color: var(--color-fondo);
}

main {
	background-color: var(--color-fondo);
}

.main-titulo {
	background-color: var(--color-footer);
	color: #FFF;
}

.main-descripcion {
	background-color: var(--color-primario);
	color: #FFF;
	font-size: 14px;
	text-wrap: pretty;
}

.noticia-card {
	background-color: var(--color-secundario);
	border-radius: 4px;
}

.noticia-img {
	width: 100%;
	height: 450px;
}

.noticia-titulo {
	font-size: 16px;
}

.noticia-parrafo {
	font-size: 12px;
}

aside {
	background-color: var(--color-primario);
}

.aside-btn {
	background-color: var(--color-secundario);
	color: #000;
	border-radius: 4px;
	text-decoration: none;
	transition: all 0.25 ease;
}

.aside-btn:hover {
	background-color: var(--color-fondo);
}

.footer {
	background-color: var(--color-footer);
	color: #fff;
}

.footer-li {
	list-style: none;
}



