<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos de la Materia</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head> 
<body>
    <nav th:replace="~{/layouts/header :: header}"></nav>
    <main class="container bg-fondo p-0 d-flex flex-column">
        <div class="bg-primario color-white">
            <h2 class="text-center py-3 px-3" th:text="'Alumnos de la Materia: ' + ${materia.nombre}"></h2>
        </div>
        <div class="pt-3 pb-5 px-3">
        <a class="btn btn-dark mb-3 ms-3" th:href="@{/materias/lista}">Volver a la lista</a>
        	<div th:if="${alumnos.isEmpty()}">
                <p>No hay alumnos inscritos en esta carrera.</p>
            </div>
            <div th:if="${!alumnos.isEmpty()}">
                <div class="row">
    			<div class="col-12 col-lg-4 p-3" th:each="a : ${alumnos}">
        			<div class="card shadow">
            			<div class="card-body">
                		<h5 class="card-title mb-3" th:text="${a.nombre} + ' ' + ${a.apellido}"></h5>
                		<h6 class="card-subtitle mb-4 text-body-secondary" th:text="'LU: ' + ${a.lu}"></h6>
                		<a th:href="@{/alumnos/detalles/} + ${a.id}" class="btn btn-lg btn-dark"> Detalles </a>
            		</div>
        		</div>
    			</div>
			</div>
        </div>
    </main>
    <footer th:replace="~{/layouts/footer :: footer}"></footer>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
