<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado de docentes FI</title>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
	<link rel="icon" href="/images/favicon.png" type="image/png">
</head>

<body>

	<nav th:replace="~{/layouts/header :: header}"></nav>

	<main class="container bg-fondo p-0 d-flex flex-column">

		<div class="bg-primario color-white">
			<h2 class="text-center py-3 px-3">Listado de docentes de la Fac. de Ingeniería</h2>
		</div>
		<div class="pt-3 pb-5 px-3">
			<div class="d-flex">
				<a class="btn btn-dark btn-lg text-center py-2 my-3 ms-3" th:href="@{/docentes/nuevo}"><i class="bi bi-person-plus"></i></a>
			</div>
			<div th:if="${msgAdd}" th:text="${msgAdd}" class="alert alert-success" role="alert"></div>
			<div th:if="${msgEdit}" th:text="${msgEdit}" class="alert alert-warning" role="alert"></div>
			<div th:if="${msgRem}" th:text="${msgRem}" class="alert alert-danger" role="alert"></div>
			<div th:if="${msgErr}" th:text="${msgErr}" class="alert alert-danger" role="alert"></div>
			<div class="row px-3">
				<div class="col-12 col-lg-4 col-xl-3 p-3" th:each="d : ${docentes}">
					<div class="card">
						<div class="card-body shadow">
							<h5 class="card-title mb-3" th:text="${d.nombre} + ' ' + ${d.apellido}"></h5>
							<h6 class="card-subtitle mb-2 text-body-secondary" th:text="${d.email}"></h6>
							<h6 class="card-subtitle mb-5 text-body-secondary" th:text="'Legajo: ' + ${d.legajo}"></h6>
							<a th:href="@{/docentes/modificar/} + ${d.id}"
								class="btn btn-lg btn-primary me-2"><i class="bi bi-person-fill-gear"></i></a>
							<a href="#" class="btn btn-lg btn-danger" data-bs-toggle="modal"
								th:data-bs-target="'#exampleModal'+${d.id}"><i class="bi bi-trash3"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" th:each="d : ${docentes}" th:id="'exampleModal'+${d.id}" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro?</h2>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Desea eliminar al docente <span
							th:text="${d.nombre}+' '+${d.apellido}+' con legajo: '+${d.legajo}"></span>?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<a class="btn btn-danger" th:href="@{/docentes/eliminar/}+${d.id}">Eliminar</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="~{/layouts/footer :: footer}"></footer>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>